nav {
  font-size: 1.2rem; /* 1rem = 16px*/
  font-family: 'Roboto', sans-serif;
  // font-family: 'Shadows Into Light', cursive;

  span {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.3rem;
  }
 
}