@use '../custom' as *;

header {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .carousel-caption {
    color: grey;
    text-align: center; 
    font-family: "shadow into light", sans-serif;
   
   }

   h2 {
    color: grey;
    text-align: center; 
    font-family: "shadow into light", sans-serif;
    margin-bottom: 6rem;
   }
  
}


